# lines starting with a hash (#) preceded by any amount
# of whitespace are comments and get ignored.
#
# configuration values (except the values for `default` and
# `section` directives) are subject to parameter expansion,
# command substitution and arithmetic expansion.

# a section may define any of the following properties
# (shown here with their default values):
#
# GIT_WORK_TREE : $PWD
# GIT_DIR       : $GIT_WORK_TREE/.git
# gropetool     : git-grope
# syntax        : fix
# url_prefix    : (empty string)

# possible values for `syntax`:
# * fix - see git-grope -F
# * bre - see git-grope -G
# * ere - see git-grope -E
# * pre - see git-grope -P

# name of the default section, if 'default' is requested,
# values from the section named here will be used.
default git-mantle

# indented lines define properties for the section.
section git-mantle
  GIT_WORK_TREE   /srv/http/git-mantle
  GIT_DIR         /srv/http/git-mantle/.git
  gropetool       /srv/http/git-grope
  syntax          pre
  url_prefix      /file/
